.kpipanal{
    width: 400px;
    height: 300px;
    padding: 5px;
    background: rgba(240, 240,240, 1)
}
.texts{
    display: flex
}
.texts .text{
    display: flex;
    width:33%;
    font-size: 1.2rem;
    color: grey;
    flex-wrap: wrap;
}
.texts .text text{
    width:100%;
    text-align: center
}
.texts .text .value{
    color: green ;
    font-size: 2rem
}